    Для начала работы, необходимо в функцию get_vk_token указать client_id,
указанное в приложении ВК

    При запуске программы через терминал PyCharm, программа запросит id вашего профиля,
тип альбома, из которого будем выгружать фотографии, токен ВК. Если такой отсутствует, будет предложена ссылка предоставления доступа к фотографиям, после прохождения доступа
токен можно будет скопировать из адресной строки и вставить в указанное поле.
    Далее будет предложено выбрать число загружаемых фоторгафий, если указанная страка
окажется числом и в диапозоне от 0 до общего числа фотографий в альбоме, программа продолжит
работу, иначе укажется число по умолчанию (5), или если общее колличество фотографий не
превышает 5, число по умолчанию будет общее число фотографий в альбоме.
    Следующим шагом будет предложено указать токен Яндекса, затем наименование папки, создаваемой на диске.
(указание некорректной папки приведет к ошибке!)
